*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 55px;
    margin: 35px 200px 0px 410px;
  }
  .roboto-medium-2 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    margin: 10px 200px 10px 550px;
  }
  
header{
    background-color: #151724;
width: 100vw;
height: 15vh;

}
nav{
    display: flex;
    justify-content: space-around
}
a{
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;

}



.header-logo{
    width: 15vh;
}
.heds{
    display: flex;
    flex-direction: column;
}
.image-and-password{
    display: flex;

}
.main-container-img{
    padding-left: 250px;
    padding-top: 20px;

}